* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    text-align:center;
    background-color: #ffdead;
    padding: 25px 0;
    border-bottom: 3px solid #f5deb3;
}

.logotipo{
    display: inline-block;
    vertical-align: middle;
    max-width: 80px;
    float:left;
    margin-top:-1.8%;
}

.menu ul {
    display:inline-block;
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 20px;
    color: #fff;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
}

.menu ul li:hover{
    background-color: #f0e68c;
}

.menu ul li:hover a{
    color: #808080;
}
.container img { max-width: 100px; }
body{
    background-color: #fffafa;
}

